	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon-muslim.eot");
  src: url("./Flaticon-muslim.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon-muslim.woff") format("woff"),
       url("./Flaticon-muslim.ttf") format("truetype"),
       url("./Flaticon-muslim.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon-muslim.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 40px;
font-style: normal;
margin-left: 20px;
}

.flaticon-allah-word:before { content: "\f100"; }
.flaticon-arabic-art:before { content: "\f101"; }
.flaticon-arabic-design:before { content: "\f102"; }
.flaticon-arabic-teapot:before { content: "\f103"; }
.flaticon-crescent-moon-and-star:before { content: "\f104"; }
.flaticon-crescent-moon-stars-and-cloud:before { content: "\f105"; }
.flaticon-desert-sun-rising:before { content: "\f106"; }
.flaticon-dromedary-looking-right:before { content: "\f107"; }
.flaticon-dua-hands:before { content: "\f108"; }
.flaticon-genie-lamp:before { content: "\f109"; }
.flaticon-halal-sign:before { content: "\f10a"; }
.flaticon-holy-quran:before { content: "\f10b"; }
.flaticon-islamic-lantern:before { content: "\f10c"; }
.flaticon-kaaba-mecca:before { content: "\f10d"; }
.flaticon-magic-carpet:before { content: "\f10e"; }
.flaticon-medina-sherif:before { content: "\f10f"; }
.flaticon-mosque-domes:before { content: "\f110"; }
.flaticon-muhammad-word:before { content: "\f111"; }
.flaticon-muslim-cap:before { content: "\f112"; }
.flaticon-muslim-tasbih:before { content: "\f113"; }
.flaticon-palm-tree-with-date:before { content: "\f114"; }
.flaticon-praying-mat:before { content: "\f115"; }
.flaticon-qibla-compass:before { content: "\f116"; }
.flaticon-reading-quran:before { content: "\f117"; }
.flaticon-sahada-one-god:before { content: "\f118"; }
